    <section>
      <div>
        <h1>Data Elements Bulk Editor</h1>
        <input type="text" placeholder="Type to filter" ng-model="search" autofocus>
        <input type="button" name="clear" ng-click="search = ''" value="Clear">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
          <a class="btn btn-default" href="#" ng-click="prevPage()" aria-label="Previous Page">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="btn btn-default" href="#" ng-click="nextPage()" aria-label="Next Page">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div>
        <ul class="" ng-show="data">
          <li class="" ng-repeat="element in data.dataElements | filter : search ">
            <a href="#">
              <div class="info">
                <h2>{{element.name}}</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>